<div class="login-page" [@routerTransition]>
  <div class="row">
      <div class="col-md-4 push-md-4">
          <img src="assets/images/logo.png" width="150px" class="user-avatar" />
          <h1>SDT Monitoring Tool</h1>
          <form role="form" #f="ngForm">
              <div class="form-content">
                  <div class="form-group">
                      <input type="text" 
                      ngModel name="email"
                      class="form-control input-underline input-lg"  
                      placeholder="Email">
                  </div>

                  <div class="form-group">
                      <input type="password" 
                      class="form-control input-underline input-lg"  
                      ngModel name="password"
                      placeholder="Password">
                  </div>
              </div>
              <a class="btn rounded-btn" (click)="onLoggedin(f)"> Log in </a>
              <a class="btn rounded-btn" [routerLink]="['/signup']"> Register </a>
          </form>
      </div>
  </div>
</div>
